<link rel="stylesheet" href="/dist/css/shimmer.css" />
<style>
    .crop-profile {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 120px;
        overflow: hidden;
        /*hide "crop" overflowing parts of images*/
        object-fit: cover;
        border-radius: 50%;
    }


    .crop-profile img {
        position: relative;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*center the overflowing element*/
        width: auto;
        /*Fit to height, overflow horizontally*/
        border: 0px dashed red;
        object-fit: cover;
        border-radius: 50%;
        /*highlight img borders for demonstration*/
    }

    .crop-profile img.taller {
        width: 100%;
        height: auto;
        /*Fit to width, overflow vertically*/
    }
</style>