<div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100 bg-light-info overflow-hidden shadow-none">
            <div class="card-body py-3">
                <div class="row justify-content-between align-items-center">
                    <div class="col-sm-9">
                        <h5 class="fw-semibold mb-9 fs-5">Selamat Datang Kembali <br>{{datas.users.user_name}}!</h5>
                        <p class="mb-9">
                            OPERATOR SIGNAL - TTE ACEH TAMIANG <br>Instansi - {{datas.users.opd_name}}
                        </p>
                        {{!-- <div class="row">
                            <div class="col-lg-2">
                                <div class="card">
                                    <div class="card-body p-4 d-flex align-items-center gap-3">
                                        <div>
                                            <h5 class="fw-semibold mb-0">Subuh</h5>
                                            <span class="fs-2 d-flex align-items-center"><i
                                                    class="ti ti-map-pin text-dark fs-3 me-1"></i>{{datas.pray_time.subuh}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="card">
                                    <div class="card-body p-4 d-flex align-items-center gap-3">
                                        <div>
                                            <h5 class="fw-semibold mb-0">Dzuhur</h5>
                                            <span class="fs-2 d-flex align-items-center"><i
                                                    class="ti ti-map-pin text-dark fs-3 me-1"></i>{{datas.pray_time.dzuhur}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="card">
                                    <div class="card-body p-4 d-flex align-items-center gap-3">
                                        <div>
                                            <h5 class="fw-semibold mb-0">Ashar</h5>
                                            <span class="fs-2 d-flex align-items-center"><i
                                                    class="ti ti-map-pin text-dark fs-3 me-1"></i>{{datas.pray_time.ashar}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="card">
                                    <div class="card-body p-4 d-flex align-items-center gap-3">
                                        <div>
                                            <h5 class="fw-semibold mb-0">Maghrib</h5>
                                            <span class="fs-2 d-flex align-items-center"><i
                                                    class="ti ti-map-pin text-dark fs-3 me-1"></i>{{datas.pray_time.maghrib}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="card">
                                    <div class="card-body p-4 d-flex align-items-center gap-3">
                                        <div>
                                            <h5 class="fw-semibold mb-0">Isyaa</h5>
                                            <span class="fs-2 d-flex align-items-center"><i
                                                    class="ti ti-map-pin text-dark fs-3 me-1"></i>{{datas.pray_time.isyaa}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                        <button class="btn btn-primary">Jangan Lupa Istirahat</button>
                    </div>
                    <div class="col-sm-3">
                        <div class="position-relative mb-n7 text-end">
                            <img src="../../dist/images/backgrounds/welcome.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Owl carousel -->
<div class="owl-carousel counter-carousel owl-theme">
    <div class="item">
        <div class="card border-0 zoom-in bg-light-danger shadow-none">
            <div class="card-body">
                <div class="text-center">
                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-favorites.svg"
                        width="50" height="50" class="mb-3" alt="" />
                    <p class="fw-semibold fs-3 text-danger mb-1">Total Pengguna</p>
                    <h5 class="fw-semibold text-danger mb-0">696</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card border-0 zoom-in bg-light-warning shadow-none">
            <div class="card-body">
                <div class="text-center">
                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-briefcase.svg"
                        width="50" height="50" class="mb-3" alt="" />
                    <p class="fw-semibold fs-3 text-warning mb-1">Total OPD Aktivasi</p>
                    <h5 class="fw-semibold text-warning mb-0">3,650</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card border-0 zoom-in bg-light-info shadow-none">
            <div class="card-body">
                <div class="text-center">
                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-mailbox.svg"
                        width="50" height="50" class="mb-3" alt="" />
                    <p class="fw-semibold fs-3 text-info mb-1">Total OPD Belum Aktivasi</p>
                    <h5 class="fw-semibold text-info mb-0">356</h5>
                </div>
            </div>
        </div>
    </div>
</div>