{{#ifEquals datas.users.user_type "-1"}}
<div class="container-fluid">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">Pengaturan Web & Android</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-muted" href="index.html">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">Pengaturan Web & Android</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="text-center mb-n5">
                        <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <ul class="nav nav-pills user-profile-tab" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-4 active"
                    id="pills-notifications-tab" data-bs-toggle="pill" data-bs-target="#pills-notifications"
                    type="button" role="tab" aria-controls="pills-notifications" aria-selected="false" tabindex="-1">
                    <i class="ti ti-brand-android me-2 fs-6"></i>
                    <span class="d-none d-md-block">Android</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-4"
                    id="pills-account-tab" data-bs-toggle="pill" data-bs-target="#pills-account" type="button"
                    role="tab" aria-controls="pills-account" aria-selected="true">
                    <i class="ti ti-world me-2 fs-6"></i>
                    <span class="d-none d-md-block">Website</span>
                </button>
            </li>

        </ul>
        <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab"
                    tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title fw-semibold">Detail Website</h5>
                            <p class="card-subtitle mb-4">Update Detail Website</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-4">
                                            <label for="exampleInputPassword1" class="form-label fw-semibold">Nama
                                                Website</label>
                                            <input type="text" class="form-control" value="{{datas.users.user_name}}"
                                                disabled>
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleInputPassword1" class="form-label fw-semibold">Deskripsi
                                                Website</label>
                                            <input type="text" class="form-control" value="{{datas.users.user_email}}"
                                                disabled>
                                        </div>
                                        <div class="mb-4">
                                            <label for="exampleInputPassword1"
                                                class="form-label fw-semibold">Pengembang</label>
                                            <input type="text" class="form-control" value="{{datas.users.user_phone}}"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="">
                                            <label for="exampleInputPassword1" class="form-label fw-semibold">Kata Kunci
                                                Web</label>
                                            <input type="text" class="form-control" value="{{datas.users.opd_name}}"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="">
                                            <label for="exampleInputPassword1" class="form-label fw-semibold">URL
                                                Web</label>
                                            <input type="text" class="form-control" value="{{datas.users.opd_name}}"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="">
                                            <label for="exampleInputPassword1" class="form-label fw-semibold">Web
                                                Icon</label>
                                            <input type="text" class="form-control" value="{{datas.users.opd_name}}"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="">
                                            <label for="exampleInputPassword1" class="form-label fw-semibold">Web
                                                Logo</label>
                                            <input type="text" class="form-control" value="{{datas.users.opd_name}}"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade active show" id="pills-notifications" role="tabpanel"
                    aria-labelledby="pills-notifications-tab" tabindex="0">
                    <div class="row justify-content-center">
                        <div class="widget-content searchable-container list">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-4 col-xl-3">
                                        <div class="col-9">
                                            <h4 class="fw-semibold mb-8">API KEY</h4>
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a class="text-muted"
                                                            href="/">Dashboard</a></li>
                                                    <li class="breadcrumb-item" aria-current="page">API KEY</li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-8 col-xl-9 text-end d-flex justify-content-md-end justify-content-center mt-3">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="javascript:void(0)" id="btn-add-contact" data-bs-toggle="modal"
                                            data-bs-target="#addAPI"
                                            class="btn btn-hover btn-info d-flex align-items-center">
                                            <i class="ti ti-users text-white me-1 fs-5"></i> Tambah API
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="addAPI" tabindex="-1" role="dialog"
                                aria-labelledby="addContactModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex align-items-center">
                                            <h5 class="modal-title title_opd">Tambah API KEY</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="add-contact-box">
                                                <div class="add-contact-content">
                                                    <form id="frmAddApiKey" class="needs-validation" method="post"
                                                        novalidate>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-4">
                                                                    <label for="exampleInputPassword1"
                                                                        class="form-label fw-semibold">APP NAME</label>
                                                                    <div class="input-group border rounded-1">
                                                                        <span
                                                                            class="input-group-text bg-transparent px-6 border-0"
                                                                            id="basic-addon1"><i
                                                                                class="ti ti-app-window-filled fs-6"></i></span>
                                                                        <input type="text" name="app_name" autofocus
                                                                            required class="form-control border-0 ps-2"
                                                                            placeholder="Masukkan Nama Aplikasi">

                                                                        <div class="px-2 invalid-feedback">
                                                                            App Name Tidak Boleh Kosong
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="mb-4">
                                                                    <label for="exampleInputPassword1"
                                                                        class="form-label fw-semibold">APP
                                                                        PACKAGE</label>
                                                                    <div class="input-group border rounded-1">
                                                                        <span
                                                                            class="input-group-text bg-transparent px-6 border-0"
                                                                            id="basic-addon1"><i
                                                                                class="ti ti-app-window-filled fs-6"></i></span>
                                                                        <input type="text" name="app_package" autofocus
                                                                            required class="form-control border-0 ps-2"
                                                                            placeholder="com.adjie.kurniawan">

                                                                        <div class="px-2 invalid-feedback">
                                                                            App Package Tidak Boleh Kosong
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="mb-4">
                                                                    <label for="exampleInputPassword1"
                                                                        class="form-label fw-semibold">APP
                                                                        TYPE</label>
                                                                    <div class="input-group border rounded-1">

                                                                        <select class="form-select" name="app_type"
                                                                            id="app_type" required>
                                                                            <option selected value="" disabled>Pilih
                                                                                Tipe
                                                                            </option>
                                                                            <option value="Android">Android</option>
                                                                            <option value="IOS">IOS</option>
                                                                            <option value="Website">Website</option>
                                                                        </select>

                                                                        <div class="px-2 invalid-feedback">
                                                                            App Package Tidak Boleh Kosong
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btn-add" type="submit"
                                                class="btn btn-dark rounded-pill px-4">TAMBAH API KEY</button>
                                            </form>
                                            <button class="btn btn-danger rounded-pill px-4" data-bs-dismiss="modal">
                                                Batal </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-body">
                                <div class="table-responsive">
                                    <table id="tbl_app_settings" class="table display align-middle text-nowrap"
                                        style="width: 100%">
                                        <thead class="header-item">
                                            <tr>
                                                <th>
                                                    No
                                                </th>
                                                <th>App Name</th>
                                                <th>App Package</th>
                                                <th>App Type</th>
                                                <th>Api Key</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{else}}
{{> admin/includes/error}}
{{/ifEquals}}