{{#ifEquals datas.users.user_type "-1"}}
<div class="container-fluid">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">FAQ</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-muted" href="index.html">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">FAQ</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="text-center mb-n5">
                        <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center mb-7">
                <h3 class="fw-semibold">Frequently asked questions</h3>
                <p class="fw-normal mb-0 fs-4">Pertanyaan Seputar Aplikasi Signal - Tanda Tangan Elektronik</p>
            </div>
            <div class="accordion accordion-flush mb-5 card position-relative overflow-hidden"
                id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed fs-4 fw-semibold" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Apa itu Sertifikat Elektronik?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-normal">
                            Berdasarkan pasal 1 Undang-Undang Nomor 19 Tahun 2016 tentang Informasi dan Transaksi
                            Elektronik, Sertifikat Elektronik
                            adalah “sertifikat yang bersifat elektronik yang memuat Tanda Tangan Elektronik dan
                            identitas yang menunjukkan status
                            subjek hukum para pihak dalam Transaksi Elektronik yang dikeluarkan oleh Penyelenggara
                            Sertifikasi Elektronik”.
                            Singkatnya, Sertifikat Elektronik merupakan identitas yang dimiliki seseorang dalam bentuk
                            digital
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed fs-4 fw-semibold" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                            Bagaimana Bentuk Sertifikat Elektronik?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-normal">
                            Sertifikat Elektronik merupakan identitas yang dimiliki seseorang dalam bentuk digital atau
                            file softcopy bukan
                            berbentuk fisik seperti KTP atau paspor.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed fs-4 fw-semibold" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Apa Keuntungan Menggunakan TTE?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-normal">
                            Penggunaan Sertifikat Elektronik mempunyai banyak manfaat. Diantaranya, dapat mempercepat
                            proses bisnis, menghemat
                            waktu, dapat menjamin keaslian dari suatu dokemen, dapat digunakan sebagai verifikasi
                            identitas di dunia siber, ramah
                            lingkungan karena dapat menghemat penggunaan kertas.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingfour">
                        <button class="accordion-button collapsed fs-4 fw-semibold" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false"
                            aria-controls="flush-collapsefour">
                            Bagaimana Cara Mendapatkan Sertifikat Elektronik?
                        </button>
                    </h2>
                    <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body fw-normal">
                            Untuk mendapatkan sertifikat Elektronik di lingkungan pegawai pemerintahan kabupaten Aceh
                            Tamiang dapat mengajukan
                            request ke Dinas Komunikasi Informatika dan Persandian Kabupaten Aceh Tamiang untuk dapat
                            diverifikasi dan diajukan ke
                            Balai Sertifikasi Elektronik (BSrE) Badan Siber dan Sandi Negara (BSSN)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-light-info rounded-2">
        <div class="card-body text-center">
            <div class="d-flex align-items-center justify-content-center mb-4 pt-8">
                <a href="#">
                    <img src="../../dist/images/profile/user-3.jpg"
                        class="rounded-circle me-n2 card-hover border border-2 border-white" width="44" height="44">
                </a>
                <a href="#">
                    <img src="../../dist/images/profile/user-2.jpg"
                        class="rounded-circle me-n2 card-hover border border-2 border-white" width="44" height="44">
                </a>
                <a href="#">
                    <img src="../../dist/images/profile/user-1.jpg"
                        class="rounded-circle me-n2 card-hover border border-2 border-white" width="44" height="44">
                </a>
            </div>
            <h3 class="fw-semibold">Ada Pertanyaan Lain Seputar Aplikasi Signal?</h3>
            <p class="fw-normal mb-4 fs-4">Dengan senang hati team kami akan membantu anda.
            </p>
            <a href="https://wa.me/6281269494591" target="_blank" class="btn btn-primary mb-8">Chat dengan kami</a>
        </div>
    </div>
</div>
{{else}}
{{> admin/includes/error}}
{{/ifEquals}}