<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <!-- Preloader -->
    <div class="preloader">
        <img src="/dist/images/logos/favicon.svg" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
        <img src="/dist/images/logos/favicon.svg" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        {{#ifEquals datas.users.user_type "-1"}}
        {{> admin/includes/menu_admin}}
        {{else ifEquals datas.users.user_type "1"}}
        {{> admin/includes/menu_operator}}
        {{else ifEquals datas.users.user_type "3"}}
        {{> admin/includes/menu_user}}
        {{/ifEquals}}
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            {{> admin/includes/header}}
            <!--  Header End -->
            <div class="container-fluid">
                {{> (content) }}
            </div>
        </div>
    </div>

    {{>js}}
</body>

</html>