<head>
    <!-- Title -->
    <title>{{web_title}}</title>
    <!-- Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="{{web_desc}}" />
    <meta name="author" content="{{web_author}}" />
    <meta name="keywords" content="{{web_keywords}}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{web_title}}" />
    <meta property="og:url" content="{{web_url}}" />
    <meta property="og:site_name" content="{{web_url}}" />
    <link rel="canonical" href="{{web_url}}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="X-ID-Compatible" http-equiv="X-ID-Compatible" content="{{csrfToken}}" />
    <meta name="X-ID-Indonesia" http-equiv="X-ID-Compatible" content="{{datas.current_id}}" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{web_icon}}" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/dist/libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <!-- Core Css -->
    <link id="themeColors" rel="stylesheet" href="/dist/css/style.min.css" />

    {{> (includeCss) }}

</head>