<!--  Import Js Files -->
<script src="/dist/libs/jquery/dist/jquery.min.js"></script>
<script src="/dist/libs/simplebar/dist/simplebar.min.js"></script>
<script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--  core files -->
<script src="/dist/js/app.min.js"></script>
<script src="/dist/js/app.init.js"></script>
<script src="/dist/js/app-style-switcher.js"></script>
<script src="/dist/js/sidebarmenu.js"></script>
<script src="/dist/js/custom.js"></script>
<!--  current page js files -->
<script src="/dist/libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/dist/js/dashboard.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


{{> (includeJs) }}